html,body,#root,.App {
  height: 100%;
  overflow-y: auto;
}

.App > header{
  background-color: #339AED;
  color: #ffffff;
}

.header-text {
  flex-grow: 1;
}

.container {
  margin-top: 80px;
}

.grid-paper {
  height: 350px;
  width: 200px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px 0px #339AED!important;
}